<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
    <div>
      <nav class="navbar navbar-inverse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li class="active">
            <a href="/contact">Contact <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
    </div>
    <br>
    <div class="jumbotron text-center">
      <h1>Contact Me</h1>
    </div>
    <div class="col-md-2 col-md-offset-5">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
      </div>
      <div class="input-group">
        <textarea class="form-control" rows="4" name="message"></textarea>
      </div>
      <div class="input-group submit-btn">
        <button type="button" id="submit" name="submit" class="btn btn-primary btn-block">Send</button>
      </div>
    </div>
  </div>
</body>

</html>